
.project {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    width: 600px;
    border: 1px dashed black;
    position: relative;
    margin-top: 20px;

    &-close {
        right: -13px;
        top: -13px;
        z-index: 2;
        border: 1px solid black;
        background: white;
        position: absolute;
        height: 24px;
        width: 24px;
        box-sizing: content-box;
        border-radius: 50%;
        cursor: pointer;
    }

    &-duration {
        display: flex;

        .dropdown {
            width: 150px;
            margin-left: 20px;
        }

        input {
            width: 100px;
        }
    }

    textarea {
        width: 100%;
        height: 75px;
        padding: 10px;
        resize: none;
    }
}